*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* FONT POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VAR COLOR*/

:root{
    --white1: #EBF2F2;
    --blue1: #A2CDF2;
    --marineBlue: #1A1C40;
    --darkBlue: #141526;
    --pink1: #F249B7;
    --greenConfirmed: #28A745;
    --gray1: #D9D9D9;
    --fontPrimary:  font-family: "Poppins", sans-serif;
}

/* ===================== */

body{
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: var(--white1);
}

/* container-todo */

.container-todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ======================================= */

.navbar-left{

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--marineBlue);
    width: 284px;
    height: 100vh;
    flex-shrink: 0;
    padding: 2rem;
}

.navbar-left h1{
    color: var(--white1);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 14px;
}

.create-namelist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-creatlist{
    background-color: var(--blue1);
    color: var(--marineBlue);
    border: none;
    width: 210px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 8px;

    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .3s;
}

.btn-creatlist:hover{
    transform: scale(1.02);
}

.input-namelist{
    width: 210px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-bottom: 3rem;
}

.input-namelist:focus{
    outline: none;
}

.todo-Name{
    background-color: #3c3e5e71;
    border: 1px solid var(--blue1);
    border-radius: 8px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 53px;
    flex-shrink: 0;
    cursor: pointer;
}

.del-namelist{
    display: none;
    position: absolute;
    background-color: transparent;
    width: 21px;
    height: 53px;
    flex-shrink: 0;
    right: 0;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    
}

.todo-Name h2{
    text-align: center;
    color: var(--blue1);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 6px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;

    transition: all .3s;
    }

.todo-Name:hover{
    transform: scale(1.02)
}

/*todo-list*/

.todo-list{
    background-color: var(--white1);
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main{

    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#add-list{
    border: none;
    padding: 6px;
    width: 350px;
    border-radius: 5px;
}

#add-list:focus{
    outline: none;
}

.btn-add{
    background-color: var(--greenConfirmed);
    color: var(--white1);
    padding: 6px;
    border: none;
    border-radius: 5px;
    transition: all .3s;
}

.btn-add:hover{
    transform: scale(1.02);
}

.todo{
    border-radius: 8px;
    border: 2px solid var(--gray1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    padding: 10px;
    margin-bottom: 1.5rem;
    margin: 0 5px 1.5rem 5px;
    cursor: pointer;
}

.check-btn,
.delete-btn{
    color: var(--marineBlue);
    font-size: 2.5rem;
}

.todo h3{
    text-transform: uppercase;
}

.todo.done{
    background-color: var(--gray1);
}

.done h3{
    font-style: italic;
    text-decoration: line-through;
}
